.footer
  .left
    .logo
      .text Palmarius
      .note
      .copyrights © 2015–2018 Palmarius
  nav.footer-nav
    .footer-col
      .footer-nav-item Туры
      .footer-nav-item.hot Горящие туры
      .footer-nav-item О компании
    .footer-col
      .footer-nav-item Новости
      .footer-nav-item Контакты
      .footer-nav-item Оформление тура в офисе
    .footer-col.docs
      .footer-nav-item Пользовательское соглашение
      .footer-nav-item Общие положения
      .footer-nav-item Договор
  .local="Страна: "
    a Россия
  .call-us
    .email
      a напишите нам