.header-container
  .logo
    .text Palmirus
    .note Туристический центр
  nav.header-nav
    .header-nav-item Туры
    .header-nav-item.hot Горящие туры
    .header-nav-item О компании
    .header-nav-item Контакты
  .call-us
    .number-container
      .label Бесплатный звонок по всей России
      .number 8-800 100-5267
    .btn-help-us Помочь выбрать тур
