.header-container
  .logo
    .text Palmirus
    .note Туристический центр
  nav.header-nav
    .header-nav-item Туры
    .header-nav-item.hot Горящие туры
    .header-nav-item О компании
    .header-nav-item Контакты
  .call-us
    .btn-help-us Помочь выбрать тур
