.pre-footer
  .direction-small-container
    .direction-header.russia Россия
      span.direction-header-comment от 12 000 ₽
    .direction-header.russia Россия
      span.direction-header-comment от 12 000 ₽
    .direction-header.russia Россия
      span.direction-header-comment от 12 000 ₽
    .direction-header.russia Россия
      span.direction-header-comment от 12 000 ₽
    .direction-header.russia Россия
      span.direction-header-comment от 12 000 ₽
  +about
