mixin visit(code)
  .print-item-container
    .print-link Tour.palmarius.ru
    .print-header Туры с экскурсиями
    .print-label Авторские экскурсии от 25$ Культурный и активный отдых
    .print-promo
      |Ваш персональный промо-код на скидку
      .code(id=`code${code}`) АТ-017

    .print-call-us Запись по телефону
      .print-phone 0-54-660-5858