@font-face {
  font-family: 'Tavolga-Free';
  src: url('../../fonts/Tavolga-Free.woff') format('woff'), url('../../fonts/Tavolga-Free.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Carlito';
  src: url('../../fonts/Carlito.woff') format('woff'), url('../../fonts/Carlito.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Carlito-Bold';
  src: url('../../fonts/Carlito-Bold.woff') format('woff'), url('../../fonts/Carlito-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}