.left {
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 16px;
  margin-bottom: 16px;
  order: 1;
}

.center {
  order: 3;
 @media (max-width: 981px) {
   display: flex;
   justify-content: flex-end;
   width: 100%;
 }
  @media (min-width: 980px) {

    .big-tour {
      max-width: 100%;
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      .price {
        top: 243px;
      }
      .about {
        top: 130px;
      }

      .dates {
        top: 183px;
      }
    }
  }

}



.right {
  order: 2;
  margin-top: 0;
}

.right-half {
  order: 1;
}

.container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-items {
  width: 100%;
}

.menu-submit-button {
  width: 300px;
  margin: 0 auto;
  margin-top: 24px;
}

.normal-tour {
  margin-top: 0;
}

.news-container, .news-sponsors {
  flex-wrap: wrap;
}

.plan-container {
  padding: 100px;
}

.sponsors-text {
  padding-right: 0;
}

.left-half {
  width: 100%;
  margin-bottom: 24px;
}

.right-half {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .big-tour {
    order: 2;
    flex-shrink: 0;
  }
}

.tour-comment {
  order: 1;
  min-width: 218px;
  width: 100%;
}

.recommended {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.recommended-text {
  white-space: normal;
}

.recommended-more {
  top: 125px;
}

@media (max-width: 1080px) {

  .comment-promo {
    display: none;
  }

}

.small-tour {
  margin-top: 0;
  &+& {
    margin-top: 16px;
  }
}


@media (max-width: 980px) {
  .center {
    justify-content: space-around;
  }
  .recommended {
    justify-content: space-around;
  }
  .recommended-container {
    display: none;
  }
  .tour-comment {
    display: none;
  }

  .right-half {
    justify-content: space-around;
  }
}