.nomobile {
  display: none;
}

.header-nav {
  flex-wrap: wrap;
  width: 50%;
  order: 3;
  .header-nav-item+.header-nav-item{

    margin-left: 0;
    margin-right: 20px;
    margin-top: 6px;

  }
}

.call-us {
  .btn-help-us {
    margin-left: 0;
  }
}

header {
  margin-top: 0;
  padding: 8px;
}

.left {
  order: 1;
  width: 100%;
}
.right {
  order: 2;
  width: 100%;
}

@media (min-width: 640px) {
  .left, .right {
    width: 49%;


  }
}

.small-tour , .normal-tour {
  margin-left: auto;
  margin-right: auto;
}

.center {
  order: 3;
  width: 100%;
}

.big-tour {
  width: 100%;
}

.header-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.call-us {
  justify-content: space-between;
  width: 50%;
  margin-top: 18px;
  .label {
    padding-left: 16px;

    &::before {
      left: 0;
    }
  }
}

.menu-items {
  flex-wrap: wrap;
  width: 100%;
  .menu-item {
    width: 50%;
    box-sizing: border-box;
    .menu-item-input {
      width: 100%;
    }
  }

}

@media (max-width: 480px) {
  .menu-items {
    .menu-item {
      width: 100%;
    }
  }
}

.menu-submit-button {
  width: 100%;
  box-sizing: border-box;
  &::after {
    display: none;
  }
}

.container {
  flex-wrap: wrap;
  & > * {
    margin: 0 auto 20px;
  }
}

.left-half {
  width: 100%;
}

.right-half {
  width: 100%;
}

.plan-container {
  width: 100%;
  padding: 16px;
}

.main-note {
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 8px;
}

.comment-container {
  margin: 0;
}

.comment-items {
  flex-wrap: wrap;
  margin-bottom: 24px;

  justify-content: space-around;
}

.comment-item {
    margin: 24px 0 0;
  &+& {
    margin: 24px 0 0;

  }

}

.comment-promo {
  width: 100%;
  margin-bottom: 24px;
}

.news-container {
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px;
  margin-top: 24px;
  justify-content: space-between;
}

.news-items {
  width: 100%;
}

.news-item {
  padding-right: 24px;
}

@media (max-width: 400px) {
  .news-item {
    width: 100%;
  }
}

.about-container {
  box-sizing: border-box;
  flex-wrap: wrap;
}

.about-items {
  flex-wrap: wrap;
  margin-bottom: 16px;
  justify-content: space-between;
}

.about-text {
  max-width: none;
  margin: 0;
}

.about-item {
  align-items: center;
  margin-bottom: 8px;
}

.about-msg {
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 450px) {
  .about-msg {
    flex-wrap: wrap;
  }

  .telegramm {
    margin: 0 0 16px;
    width: 100%;
  }

  .vk  {
    width: 100%;
  }
}

.direction-small-container {
  padding: 16px;
  justify-content: space-around;
}

.footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  .left {
    text-align: center;
    margin-top: 12px;
  }
}

.main-header-comment {
  width: 100%;
}

.sponsors-text {
  padding: 0;
  width: 50%;
}
.news-sponsors {
  flex-wrap: wrap;
  justify-content: space-between;
}

.directions {
  justify-content: space-around;
}

.directions-item {
  min-width: 33%;
  width: auto;
}

.direction-item {
  width: 50%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .send-email {
    flex-wrap: wrap;
    input.email {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    .btn-subscribe {
      width: 100%;
    }
  }
}

.sponsors-logo, .sponsors-text {
  margin-left: auto;
  margin-right: auto;
}

.footer-nav {
  flex-wrap: wrap;
  width: 100%;
}

.footer-col {
  width: 100%;
  text-align: center;
  & + & {
    padding-left: 0;
    margin-top: 6px;
  }
}

.footer {
  .call-us {
    width: 100%;
    .email {
      text-align: center;
    }
  }
}