doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  link(rel='stylesheet', href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css')
  link(rel='stylesheet', href='css/styles.css')

body
  header.header
    include includes/header.pug
  .content-container
    block content
  footer
    include includes/footer.pug
  script(src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js")
  script(src="../js/build/bundle.js")
