extends layout
block content
  .topbg
  .header-texts
    h2.main-header Авторские программы и экскурсии в Израиль, Россию, Грузию
    h3.main-header-comment Живописные места. Профессиональные гиды. Лучшие отели. Страхование на время поездки. Путешествуйте по миру вместе с Нами!
  .menu
    .menu-items-container
      .menu-items
        .menu-item
          .menu-item-header Откуда
          input.menu-item-input
        .menu-item
          .menu-item-header Куда
          input.menu-item-input
        .menu-item
          .menu-item-header Когда
          input.menu-item-input
        .menu-item
          .menu-item-header на
          input.menu-item-input
        .menu-item
          .menu-item-header Сколько вас
          input.menu-item-input
      .menu-submit-button Подобрать туры

    .menu-help
      .filters Отфильтровать туры по видам и тегам
      .no-cost
        input#nocost(type="checkbox")
        label(for="nocost") Не учитывать стоимость билета

  .content
    .container
      .left
        .small-tour.israel
          .tour-header Туры в Израиль
        .small-tour.georgia
          .tour-header Туры в Грузию
      .center.nomobile
        .big-tour.holy-earth
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header Поломничество по святой земле
          .about
            .time 4 дня
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
      .right
        .normal-tour.safari
          .hot-tour
            .hot-header Горящий тур
            .hot-value -30%
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header
            span Сафари на джипах по иудейской пустыне
          .about
            .time 1 день
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .price-past от 35 000 ₽
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
    .container.nomobile
      .left-half
        .recommended(data-aos="fade-up")
          .recommended-container
            .recommended-bg
            .recommended-text Этот тур рекомендует 38 человек
            .recommended-more
              a Прочитать отзывы
          .big-tour.holy-earth
            .score
              .score-header Оценка
              .score-value 8.7
            .tour-header Поломничество по святой земле
            .about
              .time 4 дня
              .location Израиль
            .dates
              .dates-header Ближайшие даты:
              .dates-fact 15.01, 03.02, 27.02
            .price
              .cost от 20 000 ₽
              .comment на 1 человека
            .btn-about Подробнее
      .right-half
        .big-tour.holy-earth
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header Поломничество по святой земле
          .about
            .time 4 дня
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
        .tour-comment
          .tour-comment-header Оплачивайте туры по приезду!
          .tour-comment-note="При бронировании тура вы можете получить отложенный платеж до момента поездки! "
            a Подробнее
    .directions-container
      h2.content-header Направления туров
      .directions
        .direction-item
          .direction-header.russia Россия
            span.direction-header-comment от 12 000 ₽
          .directions
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
        .direction-item
          .direction-header.russia Россия
            span.direction-header-comment от 12 000 ₽
          .directions
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
        .direction-item
          .direction-header.russia Россия
            span.direction-header-comment от 12 000 ₽
          .directions
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
        .direction-item
          .direction-header.russia Россия
            span.direction-header-comment от 12 000 ₽
          .directions
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
        .direction-item
          .direction-header.russia Россия
            span.direction-header-comment от 12 000 ₽
          .directions
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
            .directions-item Дивеево
      .tags
        .tags-header Виды туров:
        .tag Активный отдых
        .tag Пляжный отдых
        .tag Молодежный
        .tag Для молодоженов
        .tag Поломнический
        .tag  Индивидуальный
        .tag.label Теги
    .main-note
      .comment-container
        h2.content-header.nomobile Мы полностью позаботимся о вас
        .main-comment.nomobile
          | Мы специализируемся на нестандартных турах: авторские программы и экскурсии, которые дают иной взгляд на страны.
          | В составе нашей команды археологи и историки, которые помогают составлять уникальные туры. Мы имеем разрешения
          | на посещение закрытых мест, поэтому туры становятся еще более захватывающими.
          a Подробнее
        .comment-items
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
      .comment-promo.nomobile
        .promo-header Поможем сэкономить вам до 20 000 ₽ за поездку
        .promo-content Наилучшее соотношение цены и качества (достигается за счет: включения популярных экскурсий, продумана логистика, подобраны.
        a Подробнее
    .plan-container
      .plan-row.nomobile
        .plan-header Планируете свой отдых?
        .plan-note Мы поможем вам подобрать необходимый тур на время вашего отдыха. Проинформируем о появлении новых туров, снижении цен и других выгодных предложениях.
      .plan-row
        .plan-item Без спама
        .plan-item Только выгодные предлоожения
        .plan-item Отписаться можно в любой момент
      .send-email
        input.email(placeholder="Электронный адрес")
        input.email(placeholder="Время отдыха")
        .btn-subscribe Подписаться
    .news-container
      .news-items.nomobile
        .news-header Свежие новости

        .news-item
          .news-item-header «Аэрофлот» будет чаще летать из Москвы в Ростов-на-Дону
          .news-item-date 02 января 2018
          .news-item-text Авиакомпания «Аэрофлот» намерена увеличить с началом действия зимнего расписания число рейсов из Москвы в Ростов-на-Дону. Вместо ... нынешних шести перелетов в день с 29 октября будут совершаться семь. Добавится еще один вылет в середине дня, сообщает соб.корр. Travel.ru.
          a.news-more Читать полностью
        .news-item
          .news-item-header «Аэрофлот» будет чаще летать из Москвы в Ростов-на-Дону
          .news-item-date 02 января 2018
          .news-item-text Авиакомпания «Аэрофлот» намерена увеличить с началом действия зимнего расписания число рейсов из Москвы в Ростов-на-Дону. Вместо ... нынешних шести перелетов в день с 29 октября будут совершаться семь. Добавится еще один вылет в середине дня, сообщает соб.корр. Travel.ru.
          a.news-more Читать полностью
      .news-sponsors
        .sponsors-logo
        .sponsors-text
          .spornsors-header Оформление тура в офисе
          .sponsors-note Вы можете оформить наши туры оффлайн, посетив один из офисов наших парнеров.
          a.sponsors-more Подробнее
