extends layout
include includes/mixins
block header
  header.header
    include includes/header.pug
block content
  .topbg
  .header-texts(data-aos="fade-up")
    h2.main-header Поиск выгодных туров
    h3.main-header-comment Продуманные туры и экскурсии от профессионалов без посредников
  .menu(data-aos="fade-up")
    +search



  .content
    .container
      .left(data-aos="fade-up")
        .small-tour.israel
          .tour-header Туры в Израиль
        .small-tour.georgia
          .tour-header Туры в Грузию
      .center(data-aos="fade-up")
        .big-tour.holy-earth
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header Поломничество по святой земле
          .about
            .time 4 дня
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
      .right(data-aos="fade-up")
        .normal-tour.safari
          .hot-tour
            .hot-header Горящий тур
            .hot-value -30%
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header
            span Сафари на джипах по иудейской пустыне
          .about
            .time 1 день
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .price-past от 35 000 ₽
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
    .container
      .left-half(data-aos="fade-up")
        .recommended
          .recommended-container
            .recommended-bg
            .recommended-text Этот тур рекомендует 38 человек
            .recommended-more
              a Прочитать отзывы
          .big-tour.holy-earth
            .score
              .score-header Оценка
              .score-value 8.7
            .tour-header Поломничество по святой земле
            .about
              .time 4 дня
              .location Израиль
            .dates
              .dates-header Ближайшие даты:
              .dates-fact 15.01, 03.02, 27.02
            .price
              .cost от 20 000 ₽
              .comment на 1 человека
            .btn-about Подробнее
      .right-half(data-aos="fade-up")
        .big-tour.holy-earth
          .score
            .score-header Оценка
            .score-value 8.7
          .tour-header Поломничество по святой земле
          .about
            .time 4 дня
            .location Израиль
          .dates
            .dates-header Ближайшие даты:
            .dates-fact 15.01, 03.02, 27.02
          .price
            .cost от 20 000 ₽
            .comment на 1 человека
          .btn-about Подробнее
        .tour-comment
          .tour-comment-header Оплачивайте туры по приезду!
          .tour-comment-note="При бронировании тура вы можете получить отложенный платеж до момента поездки! "
            a Подробнее
    .directions-container(data-aos="fade-up")
      h2.content-header Направления туров
      +directions
    .main-note(data-aos="fade-up")
      .comment-container
        h2.content-header.nomobile Мы полностью позаботимся о вас
        .main-comment.nomobile
          | Мы специализируемся на нестандартных турах: авторские программы и экскурсии, которые дают иной взгляд на страны.
          | В составе нашей команды археологи и историки, которые помогают составлять уникальные туры. Мы имеем разрешения
          | на посещение закрытых мест, поэтому туры становятся еще более захватывающими.
          a Подробнее
        .comment-items
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
          .comment-item.tour-programm
            .comment-item-header Продуманная программа тура
            .comment-item-note поможет получить максимум удовольствия
      .comment-promo.nomobile
        .promo-header Поможем сэкономить вам до 20 000 ₽ за поездку
        .promo-content Наилучшее соотношение цены и качества (достигается за счет: включения популярных экскурсий, продумана логистика, подобраны.
        a Подробнее
    +plan
    .news-container(data-aos="fade-up")
      .news-items.nomobile
        .news-header Свежие новости

        .news-item
          .news-item-header «Аэрофлот» будет чаще летать из Москвы в Ростов-на-Дону
          .news-item-date 02 января 2018
          .news-item-text Авиакомпания «Аэрофлот» намерена увеличить с началом действия зимнего расписания число рейсов из Москвы в Ростов-на-Дону. Вместо ... нынешних шести перелетов в день с 29 октября будут совершаться семь. Добавится еще один вылет в середине дня, сообщает соб.корр. Travel.ru.
          a.news-more Читать полностью
        .news-item
          .news-item-header «Аэрофлот» будет чаще летать из Москвы в Ростов-на-Дону
          .news-item-date 02 января 2018
          .news-item-text Авиакомпания «Аэрофлот» намерена увеличить с началом действия зимнего расписания число рейсов из Москвы в Ростов-на-Дону. Вместо ... нынешних шести перелетов в день с 29 октября будут совершаться семь. Добавится еще один вылет в середине дня, сообщает соб.корр. Travel.ru.
          a.news-more Читать полностью
      .news-sponsors
        .sponsors-logo
        .sponsors-text
          .spornsors-header Оформление тура в офисе
          .sponsors-note Вы можете оформить наши туры оффлайн, посетив один из офисов наших парнеров.
          a.sponsors-more Подробнее
block prefooter
  include includes/prefooter
