include includes/visit

doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1")
  link(rel='stylesheet', href='css/styles.css')

body.print.solo
  +visit(1)